/* screen - invite-us-confirmation-desktop-all-breakpoints */

.invite-us-confirmation-desktop-all-breakpoints {
  align-items: center;
  background-color: var(--fuchsia-blue);
  display: flex;
  flex-direction: column;
  gap: 300px;
  min-width: 902px;
  position: relative;
}

.invite-us-confirmation-desktop-all-breakpoints .header-1 {
  align-items: center;
  align-self: stretch;
  background-color: var(--fuchsia-blue);
  display: flex;
  flex: 0 0 auto;
  gap: 362px;
  justify-content: center;
  padding: 24px 165px;
  position: relative;
  width: 100%;
}

.invite-us-confirmation-desktop-all-breakpoints .menu {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 24px 24px;
  margin-left: -201px;
  position: relative;
}

.invite-us-confirmation-desktop-all-breakpoints .tertiary-button-1 {
  cursor: pointer;
}

.invite-us-confirmation-desktop-all-breakpoints .default-10 {
  color: var(--romance);
}

.invite-us-confirmation-desktop-all-breakpoints .default-11 {
  color: var(--romance);
}

.invite-us-confirmation-desktop-all-breakpoints .default-12 {
  color: var(--romance);
  cursor: pointer;
}

.invite-us-confirmation-desktop-all-breakpoints .default-13 {
  color: var(--romance);
}

.invite-us-confirmation-desktop-all-breakpoints .secondary-button {
  align-items: center;
  border: 2px solid;
  border-color: var(--romance);
  border-radius: 16px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  height: 42px;
  justify-content: center;
  margin-bottom: -1.00px;
  margin-top: -1.00px;
  max-height: 38px;
  padding: 7px 16px;
  position: relative;
}

.invite-us-confirmation-desktop-all-breakpoints .default-14 {
  color: var(--romance);
}

.invite-us-confirmation-desktop-all-breakpoints .primary-button {
  align-items: center;
  background-color: var(--romance);
  border-radius: 16px;
  box-shadow: 0px 6px 12px #19192329;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 7px 18px;
  position: relative;
}

.invite-us-confirmation-desktop-all-breakpoints .default-15 {
  color: var(--mirage);
}

.invite-us-confirmation-desktop-all-breakpoints .main-content-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 100px;
  padding: 0px 165px;
  position: relative;
  width: 100%;
}

.invite-us-confirmation-desktop-all-breakpoints .thank-you-well-get-1 {
  align-self: stretch;
  color: var(--romance);
  font-weight: 700;
  line-height: 64px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.invite-us-confirmation-desktop-all-breakpoints .footer-1 {
  background-color: var(--fuchsia-blue);
  flex-direction: column;
  gap: 40px;
  max-width: 1440px;
  padding: 48px 165px 32px;
}

.invite-us-confirmation-desktop-all-breakpoints .line {
  align-self: stretch;
  height: 2px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  margin-top: -1.00px;
  position: relative;
  width: 100%;
}

.invite-us-confirmation-desktop-all-breakpoints .frame-14 {
  align-items: flex-start;
  flex-direction: column;
  gap: 32px;
}

.invite-us-confirmation-desktop-all-breakpoints .frame-145 {
  align-items: flex-start;
  flex-direction: column;
  gap: 56px;
}

.invite-us-confirmation-desktop-all-breakpoints .frame-141 {
  align-items: flex-end;
  flex-direction: column;
  gap: 32px;
  min-width: 260px;
}

.invite-us-confirmation-desktop-all-breakpoints .footer-links {
  align-self: stretch;
  flex-wrap: wrap;
  gap: 48px 84px;
  justify-content: space-between;
}

.invite-us-confirmation-desktop-all-breakpoints .frame {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  padding: 0px 16px;
  position: relative;
}

.invite-us-confirmation-desktop-all-breakpoints .frame-149-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.invite-us-confirmation-desktop-all-breakpoints .address-1 {
  color: var(--romance);
  font-weight: 500;
  line-height: 26px;
  margin-top: -1.00px;
  position: relative;
  width: 186px;
}

.invite-us-confirmation-desktop-all-breakpoints .frame-149-item-1 {
  align-self: stretch;
  color: var(--romance);
  font-weight: 500;
  line-height: 26px;
  position: relative;
}

.invite-us-confirmation-desktop-all-breakpoints .non-profit-information-1 {
  color: var(--romance-2);
  font-weight: 700;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.invite-us-confirmation-desktop-all-breakpoints .default-16 {
  color: var(--romance);
}

.invite-us-confirmation-desktop-all-breakpoints .default-17 {
  color: var(--romance);
}

.invite-us-confirmation-desktop-all-breakpoints .get-involved-1 {
  color: var(--romance-2);
  font-weight: 700;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.invite-us-confirmation-desktop-all-breakpoints .default-18 {
  color: var(--romance);
}

.invite-us-confirmation-desktop-all-breakpoints .default-19 {
  color: var(--romance);
}

.invite-us-confirmation-desktop-all-breakpoints .default-20 {
  color: var(--romance);
}

.invite-us-confirmation-desktop-all-breakpoints .default-21 {
  color: var(--romance);
}

.invite-us-confirmation-desktop-all-breakpoints .resources-1 {
  color: var(--romance-2);
  font-weight: 700;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.invite-us-confirmation-desktop-all-breakpoints .default-22 {
  color: var(--romance);
}

.invite-us-confirmation-desktop-all-breakpoints .default-23 {
  color: var(--romance);
}

.invite-us-confirmation-desktop-all-breakpoints .default-24 {
  color: var(--romance);
}

.invite-us-confirmation-desktop-all-breakpoints .default-25 {
  color: var(--romance);
}

.invite-us-confirmation-desktop-all-breakpoints .frame-47 {
  align-items: center;
  flex-wrap: wrap;
  gap: 32px 71px;
  justify-content: space-between;
}

.invite-us-confirmation-desktop-all-breakpoints .frame-46-1 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
}

.invite-us-confirmation-desktop-all-breakpoints .privacy-policy-1 {
  color: var(--romance);
  font-weight: 500;
  line-height: 26px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.invite-us-confirmation-desktop-all-breakpoints .cookies-preferences-1 {
  color: var(--romance);
  font-weight: 500;
  line-height: 26px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.invite-us-confirmation-desktop-all-breakpoints .cookies-policy-1 {
  color: var(--romance);
  font-weight: 500;
  line-height: 26px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.invite-us-confirmation-desktop-all-breakpoints .forest-planet-2024-1 {
  color: var(--romance);
  font-weight: 500;
  line-height: 26px;
  margin-left: -458px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.invite-us-confirmation-desktop-all-breakpoints .default {
  font-weight: 500;
  line-height: 26px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.invite-us-confirmation-desktop-all-breakpoints .footer {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.invite-us-confirmation-desktop-all-breakpoints .frame-1 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.invite-us-confirmation-desktop-all-breakpoints .tertiary-button {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
}
/* screen - invite-us-confirmation-mobile */

.invite-us-confirmation-mobile {
  align-items: center;
  background-color: var(--fuchsia-blue);
  display: flex;
  flex-direction: column;
  gap: 256px;
  min-width: 393px;
  position: relative;
}

.invite-us-confirmation-mobile .header {
  align-self: stretch;
  height: 80px;
  position: relative;
  width: 100%;
}

.invite-us-confirmation-mobile .main-content {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  padding: 0px 30px;
  position: relative;
  width: 100%;
}

.invite-us-confirmation-mobile .thank-you-well-get {
  align-self: stretch;
  color: var(--romance);
  font-weight: 700;
  line-height: 56px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.invite-us-confirmation-mobile .footer {
  align-items: center;
  align-self: stretch;
  background-color: var(--fuchsia-blue);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 48px;
  padding: 48px 30px 32px;
  position: relative;
  width: 100%;
}

.invite-us-confirmation-mobile .line-5 {
  align-self: stretch;
  height: 2px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  margin-top: -1.00px;
  position: relative;
  width: 100%;
}

.invite-us-confirmation-mobile .footer-menu {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.invite-us-confirmation-mobile .frame-149 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.invite-us-confirmation-mobile .address {
  color: var(--romance);
  font-weight: 500;
  line-height: 26px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 186px;
}

.invite-us-confirmation-mobile .frame-149-item {
  color: var(--romance);
  font-weight: 500;
  line-height: 26px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.invite-us-confirmation-mobile .non-profit-information {
  color: var(--romance-2);
  font-weight: 700;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.invite-us-confirmation-mobile .frame-99 {
  display: inline-flex;
  flex: 0 0 auto;
  gap: 21px;
}

.invite-us-confirmation-mobile .frame-236 {
  background-color: var(--romance);
  border-radius: 5px;
  display: flex;
  gap: 10px;
  overflow: hidden;
  padding: 7px;
  width: 74px;
}

.invite-us-confirmation-mobile .frame-235 {
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
}

.invite-us-confirmation-mobile .tertiary-button {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.invite-us-confirmation-mobile .default {
  color: var(--romance);
  font-weight: 500;
  line-height: 26px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.invite-us-confirmation-mobile .frame-44 {
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
}

.invite-us-confirmation-mobile .get-involved {
  color: var(--romance-2);
  font-weight: 700;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.invite-us-confirmation-mobile .frame-60 {
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
}

.invite-us-confirmation-mobile .resources {
  color: var(--romance-2);
  font-weight: 700;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.invite-us-confirmation-mobile .forest-planet-2024 {
  align-self: stretch;
  color: var(--romance);
  font-weight: 500;
  line-height: 26px;
  position: relative;
  text-align: center;
}

.invite-us-confirmation-mobile .frame-46 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 16px 16px;
  justify-content: center;
  width: 100%;
}

.invite-us-confirmation-mobile .privacy-policy {
  color: var(--romance);
  font-weight: 500;
  line-height: 26px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.invite-us-confirmation-mobile .cookies {
  color: var(--romance);
  font-weight: 500;
  line-height: 26px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.invite-us-confirmation-mobile .default-10 {
  color: var(--romance);
  font-weight: 500;
  line-height: 26px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.invite-us-confirmation-mobile .frame {
  align-items: center;
  position: relative;
}
@media screen and (max-width: 901px) {
  .screen.invite-us-confirmation-desktop-all-breakpoints { 
    display: none;
   }
}
@media screen and (min-width: 902px) {
  .screen.invite-us-confirmation-mobile { 
    display: none;
   }
}