/* screen - menu-mobile */

.menu-mobile {
  align-items: center;
  background-color: var(--romance);
  display: flex;
  flex-direction: column;
  gap: 66px;
  height: 100vh;
  position: relative;
  overflow: hidden;
  position: fixed;
  justify-content: flex-start;
  padding-top: 80px;
  width: 100%;
}

.menu-mobile .header {
  align-items: center;
  align-self: stretch;
  background-color: var(--romance);
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 0px 30px;
  position: relative;
  width: 100%;
}

.menu-mobile .logo-mark-1 {
  height: 40px;
  position: relative;
  width: 40px;
}

.menu-mobile .x {
  cursor: pointer;
  height: 24px;
  position: relative;
  width: 24px;
}

.menu-mobile .nav-menu {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  padding-top: 100px;
}

.menu-mobile .tertiary-button {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.menu-mobile .default {
  color: var(--mirage);
  font-weight: 500;
  line-height: 26px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.menu-mobile .secondary-button {
  align-items: center;
  border: 2px solid;
  border-color: var(--salem);
  border-radius: 16px;
  display: inline-flex;
  gap: 10px;
  height: 40px;
  justify-content: center;
  margin-left: -1.50px;
  margin-right: -1.50px;
  max-height: 38px;
  padding: 7px 16px;
  position: relative;
}

.menu-mobile .default-1 {
  color: var(--salem);
  margin-top: -2.00px;
}

.menu-mobile .primary-button {
  align-items: center;
  background-color: var(--salem);
  border-radius: 16px;
  box-shadow: 0px 6px 12px #19192329;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 7px 18px;
  position: relative;
}

.menu-mobile .default-2 {
  color: var(--romance);
  margin-top: -1.00px;
}

.menu-mobile .logo-mark-1-1 {
  align-self: stretch;
  height: 460px;
  margin-bottom: -160.00px;
  position: relative;
  width: 100%;
}

.menu-mobile .default-3 {
  font-weight: 500;
  line-height: 26px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
